# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore temporary files
tmp/
temp/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore build files (if any)
dist/
build/
